body { background: #ce726a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-helper-0 { color: #f5b7b8; font-size: 13px; margin-bottom: 5px; }
.block-logger-1 { color: #d29852; font-size: 17px; margin-bottom: 5px; }
.block-auth-2 { color: #f8a047; font-size: 18px; margin-bottom: 5px; }
.block-order-3 { color: #e2c0ae; font-size: 18px; margin-bottom: 5px; }
.block-email-4 { color: #c63ba8; font-size: 14px; margin-bottom: 5px; }
.block-helper-5 { color: #362aef; font-size: 19px; margin-bottom: 5px; }
.block-helper-6 { color: #54178d; font-size: 13px; margin-bottom: 5px; }